.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}



.chats__body {
  padding: 0;
  padding-top: 100px;
}

.chats__body .header,
.chats__body .status-bar {
  padding: 0 20px;
}

.chats__body {
  background-image: url(../img/blue-snow.png);
  min-height: 1000vh;
}

.chats__chat {
  margin-bottom: 20px;
}

.chat__write-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  50% {
    box-shadow: 0 13px 27px -25px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }

  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  animation: float 1s linear infinite forwards;
}

.chat__icon {
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus~.chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  padding-top: 30px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.message .message__content {
  padding: 1px;
  flex-direction: row-reverse;
}

.sent-message {
  display: flex;
  align-self: flex-end;
}

.incoming-message {
  align-self: flex-start;
}

@keyframes spin {
  from {
    transform: none;
  }

  to {
    transform: rotateY(3turn);
  }
}

.incoming-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  animation: spin 1s linear;
}

.message .message__bubble {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.incoming-message .message__author {
  margin-top: 15px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #83a4d4, #b6fbff);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #70e1f5, #ffd194);
  margin-bottom: 10px;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}